In [1]:
import csv
import pandas as pd
from sklearn.linear_model import LogisticRegression 
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import precision_recall_fscore_support
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [2]:
segment3_workflow1=pd.read_csv('segment3_workflowS1.csv')
segment3_workflow1.CASE_ID.mode()

0    1175521|568653|866936
dtype: object

In [3]:
segment3_workflow2=pd.read_csv('segment3_workflowS2.csv')
segment3_workflow2.CASE_ID.mode()

0    1114684|484215|743082
dtype: object

In [4]:
segment3_workflow3=pd.read_csv('segment3_workflowS3.csv')
segment3_workflow3.CASE_ID.mode()

0    1102908|470757|722758
dtype: object

In [5]:
segment3_workflow1.head()

,CASE_ID,WRKFLW_TSK_MAP_GROUPED,WRKFLW_TSK_MAP_DETAILED,PATH_CRDATETIME,ITEM_CRUSER,WRKFLW_ORG_TYPE_CRUSER,STATUS_ORDER,LATEST_STATUS,WRKFLW_PROCESS,QUERY_PART,...,ORIG_SPRD_CD,ORIG_SPRD_NM,SPK_CAT_TYPE_CD,BROAD_COURSE_LEVEL,DEGREETYPE,LIABILITY_CATEGORY_CD_RECODE,ORIG_LIABILITY_CATEGORY_CD_RECODE,OFFER_RELEASED_FG,OFFER_OUTCOME_CD,OFFER_CONDITIONS
0,1067449|424909|657898,Submit,Submit,26/11/2018 17:58:06,GUEST,Student,15,N,1. App to Assessment,Part 1 - Application ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
1,1067449|424909|657898,AR - Satisfied - previous or current study,AR - Satisfied - Academic results for prior te...,7/12/2018 10:51:18,ATSCHORN,Academic Services,14,N,1. App to Assessment,Part 6 - Requirement Verify,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
2,1067449|424909|657898,AR - Not Satisfied - ELR,AR - Not Satisfied - English language proficiency,7/12/2018 10:51:38,ATSCHORN,Academic Services,13,N,1. App to Assessment,Part 6 - Requirement Verify,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
3,1067449|424909|657898,OC - Created - Other,OC - Created - English language requirements,7/12/2018 10:51:46,ATSCHORN,Academic Services,12,N,1. App to Assessment,Part 5 - Requirement Create,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
4,1067449|424909|657898,AR - Created - Other,AR - Created - Assessment information (Coursew...,7/12/2018 11:00:43,ATSCHORN,Academic Services,11,N,1. App to Assessment,Part 5 - Requirement Create,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y

In [6]:
segment3_workflow2.head()

,CASE_ID,WRKFLW_TSK_MAP_GROUPED,WRKFLW_TSK_MAP_DETAILED,PATH_CRDATETIME,ITEM_CRUSER,WRKFLW_ORG_TYPE_CRUSER,STATUS_ORDER,LATEST_STATUS,WRKFLW_PROCESS,QUERY_PART,...,ORIG_SPRD_CD,ORIG_SPRD_NM,SPK_CAT_TYPE_CD,BROAD_COURSE_LEVEL,DEGREETYPE,LIABILITY_CATEGORY_CD_RECODE,ORIG_LIABILITY_CATEGORY_CD_RECODE,OFFER_RELEASED_FG,OFFER_OUTCOME_CD,OFFER_CONDITIONS
0,1067449|424909|657898,Send for Assessment,Send for Assessment,7/12/2018 11:01:50,1067449,NaN,9,N,1. App to Assessment,Part 1 - Application ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
1,1067449|424909|657898,Acacdemic - Assessment Decision - Qualified,Acacdemic - Assessment Decision - Qualified,14/12/2018 15:55:39,RGORDON1,Academic,8,N,2. Perform Assessment,Part 4 - Assessment Decision,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
2,1067449|424909|657898,Assessment Outcome - Successful,Assessment Outcome - Successful,18/12/2018 11:34:06,KRIT,Faculty,7,N,2. Perform Assessment,Part 3 - Assessment Outcome,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
3,913640|554685|848410,Send for Assessment,Send for Assessment,3/12/2019 11:06:46,913640,NaN,1,Y,1. App to Assessment,Part 1 - Application ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,NaN,NaN,NaN
4,1021374|367597|573577,Send for Assessment,Send for Assessment,26/6/2018 11:26:41,1021374,NaN,17,N,1. App to Assessment,Part 1 - Application ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,N

In [7]:
segment3_workflow3.head()

,CASE_ID,WRKFLW_TSK_MAP_GROUPED,WRKFLW_TSK_MAP_DETAILED,PATH_CRDATETIME,ITEM_CRUSER,WRKFLW_ORG_TYPE_CRUSER,STATUS_ORDER,LATEST_STATUS,WRKFLW_PROCESS,QUERY_PART,...,ORIG_SPRD_CD,ORIG_SPRD_NM,SPK_CAT_TYPE_CD,BROAD_COURSE_LEVEL,DEGREETYPE,LIABILITY_CATEGORY_CD_RECODE,ORIG_LIABILITY_CATEGORY_CD_RECODE,OFFER_RELEASED_FG,OFFER_OUTCOME_CD,OFFER_CONDITIONS
0,1067449|424909|657898,Assessment Outcome - Successful,Assessment Outcome - Successful,18/12/2018 11:34:06,KRIT,Faculty,7,N,2. Perform Assessment,Part 3 - Assessment Outcome,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
1,1067449|424909|657898,Create Offer,Create Offer,18/12/2018 11:34:51,KRIT,Faculty,6,N,3b. Offer stage,Part 2 - Application Line ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
2,1067449|424909|657898,Release Offer,Release Offer,18/12/2018 11:36:07,KRIT,Faculty,5,N,3b. Offer stage,Part 2 - Application Line ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,Y
3,1021374|367597|573577,Assessment Outcome - Successful,Assessment Outcome - Successful,12/7/2018 10:07:14,ATKINSONM,Faculty,12,N,2. Perform Assessment,Part 3 - Assessment Outcome,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,N
4,1021374|367597|573577,Create Offer,Create Offer,12/7/2018 10:07:30,ATKINSONM,Faculty,11,N,3b. Offer stage,Part 2 - Application Line ID Workflow,...,STYI,Start Year Intake,MCW,HDCW,Full Degree,AF,AF,Y,$ACC,N

In [8]:
segment3_workflow1['WRKFLW_TSK_MAP_DETAILED'].nunique()

112

In [9]:
segment3_workflow1=segment3_workflow1.drop(['WRKFLW_TSK_MAP_GROUPED', 'PATH_CRDATETIME','ITEM_CRUSER','WRKFLW_ORG_TYPE_CRUSER',
                         'STATUS_ORDER','LATEST_STATUS','WRKFLW_PROCESS','QUERY_PART','REFERRAL_ID',
                         'APPLICATION_ID','STU_ID','STU_CITIZEN_CD','STU_CITIZEN_NM','STU_BIRTH_DT',
                         'STU_ABOR_TSI_CD','STU_ABOR_TSI_NM','STU_BIRTH_CNTRY_CD','STU_BIRTH_CNTRY_NM',
                         'STU_CTZN_CNTRY_CD','STU_CTZN_CNTRY_NM','SUBMISSION_METHOD','ENTRY_TYPE',
                         'ASSESSMENT_DECISION_SCORE','ASSESSMENT_DECISION_NM','ASSESSMENT_OUTCOME_NM',
                         'LAST_COUNTRY_EDUCATION','PREV_INST_NM_MAIN','PREV_INST_NM_ALT1','PREV_INST_NM_ALT2',
                        'PREFERENCE_NO','SPK_CD','SPK_FULL_TITLE','ORG_UNIT_CD','AVAIL_ORG_UNIT_NM','SUPPORTING_ORG',
                        'STUDY_MODE_CD','RETURNING_DEFERRAL','CURR_AVAIL_YR','CURR_STUDY_PERIOD','CURR_SPRD_CD',
                        'CURR_SPRD_NM','ORIG_AVAIL_YR','ORIG_STUDY_PERIOD','ORIG_SPRD_CD','ORIG_SPRD_NM',
                         'SPK_CAT_TYPE_CD','BROAD_COURSE_LEVEL','DEGREETYPE','LIABILITY_CATEGORY_CD_RECODE',
                        'ORIG_LIABILITY_CATEGORY_CD_RECODE','OFFER_RELEASED_FG','OFFER_OUTCOME_CD','OFFER_CONDITIONS',
                        'APPLICATION_LINE_ID'], axis=1)
segment3_workflow1.head()

                 CASE_ID                            WRKFLW_TSK_MAP_DETAILED
0  1067449|424909|657898                                             Submit
1  1067449|424909|657898  AR - Satisfied - Academic results for prior te...
2  1067449|424909|657898  AR - Not Satisfied - English language proficiency
3  1067449|424909|657898       OC - Created - English language requirements
4  1067449|424909|657898  AR - Created - Assessment information (Coursew...

In [10]:
segment3_workflow2=segment3_workflow2.drop(['WRKFLW_TSK_MAP_GROUPED', 'PATH_CRDATETIME','ITEM_CRUSER','WRKFLW_ORG_TYPE_CRUSER',
                         'STATUS_ORDER','LATEST_STATUS','WRKFLW_PROCESS','QUERY_PART','REFERRAL_ID',
                         'APPLICATION_ID','STU_ID','STU_CITIZEN_CD','STU_CITIZEN_NM','STU_BIRTH_DT',
                         'STU_ABOR_TSI_CD','STU_ABOR_TSI_NM','STU_BIRTH_CNTRY_CD','STU_BIRTH_CNTRY_NM',
                         'STU_CTZN_CNTRY_CD','STU_CTZN_CNTRY_NM','SUBMISSION_METHOD','ENTRY_TYPE',
                         'ASSESSMENT_DECISION_SCORE','ASSESSMENT_DECISION_NM','ASSESSMENT_OUTCOME_NM',
                         'LAST_COUNTRY_EDUCATION','PREV_INST_NM_MAIN','PREV_INST_NM_ALT1','PREV_INST_NM_ALT2',
                        'PREFERENCE_NO','SPK_CD','SPK_FULL_TITLE','ORG_UNIT_CD','AVAIL_ORG_UNIT_NM','SUPPORTING_ORG',
                        'STUDY_MODE_CD','RETURNING_DEFERRAL','CURR_AVAIL_YR','CURR_STUDY_PERIOD','CURR_SPRD_CD',
                        'CURR_SPRD_NM','ORIG_AVAIL_YR','ORIG_STUDY_PERIOD','ORIG_SPRD_CD','ORIG_SPRD_NM',
                         'SPK_CAT_TYPE_CD','BROAD_COURSE_LEVEL','DEGREETYPE','LIABILITY_CATEGORY_CD_RECODE',
                        'ORIG_LIABILITY_CATEGORY_CD_RECODE','OFFER_RELEASED_FG','OFFER_OUTCOME_CD','OFFER_CONDITIONS',
                        'APPLICATION_LINE_ID'], axis=1)
segment3_workflow2.head()

                 CASE_ID                      WRKFLW_TSK_MAP_DETAILED
0  1067449|424909|657898                          Send for Assessment
1  1067449|424909|657898  Acacdemic - Assessment Decision - Qualified
2  1067449|424909|657898              Assessment Outcome - Successful
3   913640|554685|848410                          Send for Assessment
4  1021374|367597|573577                          Send for Assessment

In [11]:
segment3_workflow3=segment3_workflow3.drop(['WRKFLW_TSK_MAP_GROUPED', 'PATH_CRDATETIME','ITEM_CRUSER','WRKFLW_ORG_TYPE_CRUSER',
                         'STATUS_ORDER','LATEST_STATUS','WRKFLW_PROCESS','QUERY_PART','REFERRAL_ID',
                         'APPLICATION_ID','STU_ID','STU_CITIZEN_CD','STU_CITIZEN_NM','STU_BIRTH_DT',
                         'STU_ABOR_TSI_CD','STU_ABOR_TSI_NM','STU_BIRTH_CNTRY_CD','STU_BIRTH_CNTRY_NM',
                         'STU_CTZN_CNTRY_CD','STU_CTZN_CNTRY_NM','SUBMISSION_METHOD','ENTRY_TYPE',
                         'ASSESSMENT_DECISION_SCORE','ASSESSMENT_DECISION_NM','ASSESSMENT_OUTCOME_NM',
                         'LAST_COUNTRY_EDUCATION','PREV_INST_NM_MAIN','PREV_INST_NM_ALT1','PREV_INST_NM_ALT2',
                        'PREFERENCE_NO','SPK_CD','SPK_FULL_TITLE','ORG_UNIT_CD','AVAIL_ORG_UNIT_NM','SUPPORTING_ORG',
                        'STUDY_MODE_CD','RETURNING_DEFERRAL','CURR_AVAIL_YR','CURR_STUDY_PERIOD','CURR_SPRD_CD',
                        'CURR_SPRD_NM','ORIG_AVAIL_YR','ORIG_STUDY_PERIOD','ORIG_SPRD_CD','ORIG_SPRD_NM',
                         'SPK_CAT_TYPE_CD','BROAD_COURSE_LEVEL','DEGREETYPE','LIABILITY_CATEGORY_CD_RECODE',
                        'ORIG_LIABILITY_CATEGORY_CD_RECODE','OFFER_RELEASED_FG','OFFER_OUTCOME_CD','OFFER_CONDITIONS',
                        'APPLICATION_LINE_ID'], axis=1)
segment3_workflow3.head()

                 CASE_ID          WRKFLW_TSK_MAP_DETAILED
0  1067449|424909|657898  Assessment Outcome - Successful
1  1067449|424909|657898                     Create Offer
2  1067449|424909|657898                    Release Offer
3  1021374|367597|573577  Assessment Outcome - Successful
4  1021374|367597|573577                     Create Offer

In [12]:
numOfWorkflowProcesses=segment3_workflow1.groupby('CASE_ID').CASE_ID.count()
numOfWorkflowProcesses.head()

CASE_ID
1000727|431447|668147     3
1001829|336678|526826     3
1001829|336678|526827     3
1001877|336757|526956     4
1002271|337186|527523    10
Name: CASE_ID, dtype: int64

In [13]:
numOfWorkflowProcesses2=segment3_workflow2.groupby('CASE_ID').CASE_ID.count()
numOfWorkflowProcesses2.head()

CASE_ID
1000727|431447|668147    11
1001829|336678|526826     3
1001829|336678|526827     3
1001877|336757|526956    11
1002271|337186|527523     8
Name: CASE_ID, dtype: int64

In [15]:
numOfWorkflowProcesses3=segment3_workflow3.groupby('CASE_ID').CASE_ID.count()
numOfWorkflowProcesses3.head()

CASE_ID
1000727|431447|668147    4
1001829|336678|526826    3
1001877|336757|526956    3
1002271|337186|527523    3
1007394|346044|540306    3
Name: CASE_ID, dtype: int64

In [16]:
counts = segment3_workflow1['CASE_ID'].value_counts()

In [17]:
counts2 = segment3_workflow2['CASE_ID'].value_counts()

In [18]:
counts3 = segment3_workflow3['CASE_ID'].value_counts()

In [19]:
counts.head()

1175521|568653|866936    19
1075305|437160|675799    18
1125321|497557|764055    17
1125242|497408|763842    17
1045292|395605|615665    17
Name: CASE_ID, dtype: int64

In [20]:
counts2.head()

1114684|484215|743082    22
1028582|370276|577743    16
1076583|437721|676610    15
1025815|366554|572153    15
1019820|360156|561476    15
Name: CASE_ID, dtype: int64

In [21]:
counts3.head()

1102908|470757|722758    12
1147799|528824|809849    11
1025815|366554|572153    10
1120436|490900|754192     9
1140264|517887|794176     9
Name: CASE_ID, dtype: int64

In [843]:
filtered = counts[counts == 17]
seg3_count1=segment3_workflow1[segment3_workflow1['CASE_ID'].isin(filtered.index)]

In [844]:
filtered2 = counts2[counts2 == 17]
seg3_count2=segment3_workflow2[segment3_workflow2['CASE_ID'].isin(filtered.index)]

In [845]:
filtered3 = counts3[counts3 == 17]
seg3_count3=segment3_workflow3[segment3_workflow3['CASE_ID'].isin(filtered.index)]

In [846]:
seg3_count1['CASE_ID'].nunique()

4

In [847]:
seg3_count1.head(14)

                   CASE_ID                            WRKFLW_TSK_MAP_DETAILED
142  1086364|448364|689547                                             Submit
143  1086364|448364|689547                 AR - Satisfied - Advanced Standing
144  1086364|448364|689547  AR - Satisfied - Specialisation (Master of Inf...
145  1086364|448364|689547         AR - Satisfied - Graduate Access Melbourne
146  1086364|448364|689547  AR - Satisfied - Current enrolment at the Univ...
147  1086364|448364|689547  AR - Satisfied - Entry points (Master of Infor...
148  1086364|448364|689547  AR - Requested - Academic results for prior te...
149  1086364|448364|689547            AR - Satisfied - Transcript Ã» My eQuals
150  1086364|448364|689547  AR - Not Satisfied - English language proficiency
151  1086364|448364|689547       OC - Created - English language requirements
152  1086364|448364|689547                                 Put Triage On-Hold
153  1086364|448364|689547  AR - Created - Assessment information (Coursew...
154  1086364|448364|689547      OC - Reviewed - English language requirements
155  1086364|448364|689547                    Assessment Decision - Qualified

In [848]:
seg3_count2['CASE_ID'].nunique()

4

In [849]:
seg3_count2.head(17)

                    CASE_ID                          WRKFLW_TSK_MAP_DETAILED
59    1086364|448364|689547                              Send for Assessment
60    1086364|448364|689547                Assessment Decision - No Decision
61    1086364|448364|689547  Acacdemic - Assessment Decision - Not Qualified
62    1086364|448364|689547                  Assessment Outcome - Successful
1016  1125321|497557|764055                              Send for Assessment
1017  1125321|497557|764055                  Assessment Decision - Qualified
1018  1125321|497557|764055                  Assessment Outcome - Successful
2071  1045292|395605|615665                              Send for Assessment
2072  1045292|395605|615665                  Assessment Decision - Qualified
2073  1045292|395605|615665     OC - Created - Evidence of course completion
2074  1045292|395605|615665                  Assessment Outcome - Successful
2286  1125242|497408|763842                              Send for Assessment
2287  1125242|497408|763842      Acacdemic - Assessment Outcome - Successful
2288  1125242|497408|763842                                     Create Offer
2289  1125242|497408|763842                  Assessment Outcome - Successful

In [850]:
seg3_count3['CASE_ID'].nunique()

4

In [851]:
seg3_count3.head(17)

                    CASE_ID                       WRKFLW_TSK_MAP_DETAILED
24    1086364|448364|689547               Assessment Outcome - Successful
25    1086364|448364|689547                                  Create Offer
26    1086364|448364|689547                                 Release Offer
447   1125321|497557|764055               Assessment Outcome - Successful
448   1125321|497557|764055                                  Create Offer
449   1125321|497557|764055                                 Release Offer
906   1045292|395605|615665               Assessment Outcome - Successful
907   1045292|395605|615665                                  Create Offer
908   1045292|395605|615665                                 Release Offer
998   1125242|497408|763842               Assessment Outcome - Successful
999   1125242|497408|763842  OC - Created - Evidence of course completion
1000  1125242|497408|763842                                 Release Offer

In [852]:
frames = [seg3_count1, seg3_count2, seg3_count3]
count_12=pd.concat(frames)

In [853]:
y = pd.get_dummies(seg3_count1.WRKFLW_TSK_MAP_DETAILED)
y=y[:0]

In [854]:
y

Empty DataFrame
Columns: [AR - Created - Assessment information (Coursework) (1), AR - Created - Further information (1), AR - Created - Further information (2), AR - Not Satisfied - English language proficiency, AR - Requested - Academic results for prior tertiary studies, AR - Satisfied - Academic results for prior tertiary studies, AR - Satisfied - Advanced Standing, AR - Satisfied - Appointment of authorised representative, AR - Satisfied - Assessment information (Coursework) (1), AR - Satisfied - Credit for previous study, AR - Satisfied - Current enrolment at the University of Melbourne, AR - Satisfied - English language proficiency, AR - Satisfied - Entry points (Master of Information Technology), AR - Satisfied - Further information (1), AR - Satisfied - Further information (2), AR - Satisfied - Graduate Access Melbourne, AR - Satisfied - Official syllabus or subject descriptions (in English), AR - Satisfied - Specialisation (Master of Information Technology), AR - Satisfied - Transcript Ã» My eQuals, Acacdemic - Assessment Decision - Not Qualified, Assessment Decision - No Decision, Assessment Decision - Qualified, OC - Created - English language requirements, OC - Reviewed - English language requirements, Put Triage On-Hold, Release Triage Hold, Send for Assessment, Submit]
Index: []

[0 rows x 28 columns]

In [855]:
y2 = pd.get_dummies(seg3_count2.WRKFLW_TSK_MAP_DETAILED)
y2=y2[:0]

In [856]:
y2

Empty DataFrame
Columns: [Acacdemic - Assessment Decision - Not Qualified, Acacdemic - Assessment Outcome - Successful, Assessment Decision - No Decision, Assessment Decision - Qualified, Assessment Outcome - Successful, Create Offer, OC - Created - Evidence of course completion, Send for Assessment]
Index: []

In [857]:
y3 = pd.get_dummies(seg3_count3.WRKFLW_TSK_MAP_DETAILED)
y3=y3[:0]

In [858]:
y3

Empty DataFrame
Columns: [Assessment Outcome - Successful, Create Offer, OC - Created - Evidence of course completion, Release Offer]
Index: []

In [859]:
y4=pd.merge(y, y2, on='Send for Assessment')
y4

Empty DataFrame
Columns: [AR - Created - Assessment information (Coursework) (1), AR - Created - Further information (1), AR - Created - Further information (2), AR - Not Satisfied - English language proficiency, AR - Requested - Academic results for prior tertiary studies, AR - Satisfied - Academic results for prior tertiary studies, AR - Satisfied - Advanced Standing, AR - Satisfied - Appointment of authorised representative, AR - Satisfied - Assessment information (Coursework) (1), AR - Satisfied - Credit for previous study, AR - Satisfied - Current enrolment at the University of Melbourne, AR - Satisfied - English language proficiency, AR - Satisfied - Entry points (Master of Information Technology), AR - Satisfied - Further information (1), AR - Satisfied - Further information (2), AR - Satisfied - Graduate Access Melbourne, AR - Satisfied - Official syllabus or subject descriptions (in English), AR - Satisfied - Specialisation (Master of Information Technology), AR - Satisfied - Transcript Ã» My eQuals, Acacdemic - Assessment Decision - Not Qualified_x, Assessment Decision - No Decision_x, Assessment Decision - Qualified_x, OC - Created - English language requirements, OC - Reviewed - English language requirements, Put Triage On-Hold, Release Triage Hold, Submit, Acacdemic - Assessment Decision - Not Qualified_y, Acacdemic - Assessment Outcome - Successful, Assessment Decision - No Decision_y, Assessment Decision - Qualified_y, Assessment Outcome - Successful, Create Offer, OC - Created - Evidence of course completion, Send for Assessment]
Index: []

[0 rows x 35 columns]

In [860]:
y4.columns = y4.columns.str.replace("_x", "")

In [861]:
y4.columns = y4.columns.str.replace("_y", "")

In [862]:
y4 = y4.loc[:,~y4.columns.duplicated()]

In [863]:
y4.shape

(0, 32)

In [864]:
y5=pd.merge(y3, y4, on='Assessment Outcome - Successful')
y5

Empty DataFrame
Columns: [Create Offer_x, OC - Created - Evidence of course completion_x, Release Offer, AR - Created - Assessment information (Coursework) (1), AR - Created - Further information (1), AR - Created - Further information (2), AR - Not Satisfied - English language proficiency, AR - Requested - Academic results for prior tertiary studies, AR - Satisfied - Academic results for prior tertiary studies, AR - Satisfied - Advanced Standing, AR - Satisfied - Appointment of authorised representative, AR - Satisfied - Assessment information (Coursework) (1), AR - Satisfied - Credit for previous study, AR - Satisfied - Current enrolment at the University of Melbourne, AR - Satisfied - English language proficiency, AR - Satisfied - Entry points (Master of Information Technology), AR - Satisfied - Further information (1), AR - Satisfied - Further information (2), AR - Satisfied - Graduate Access Melbourne, AR - Satisfied - Official syllabus or subject descriptions (in English), AR - Satisfied - Specialisation (Master of Information Technology), AR - Satisfied - Transcript Ã» My eQuals, Acacdemic - Assessment Decision - Not Qualified, Assessment Decision - No Decision, Assessment Decision - Qualified, OC - Created - English language requirements, OC - Reviewed - English language requirements, Put Triage On-Hold, Release Triage Hold, Submit, Acacdemic - Assessment Outcome - Successful, Assessment Outcome - Successful, Create Offer_y, OC - Created - Evidence of course completion_y, Send for Assessment]
Index: []

[0 rows x 35 columns]

In [865]:
y5.columns = y5.columns.str.replace("_x", "")

In [866]:
y5.columns = y5.columns.str.replace("_y", "")

In [867]:
y5 = y5.loc[:,~y5.columns.duplicated()]

In [868]:
y5.shape

(0, 33)

In [869]:
y5["CASE_ID"]=""

In [870]:
col_name="CASE_ID"
first_col = y5.pop(col_name)

In [871]:
y5.insert(0, col_name, first_col)

In [872]:
y5['CASE_ID']=count_12['CASE_ID'].unique()

<ipython-input-872-da8cd2d0614a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y5['CASE_ID']=count_12['CASE_ID'].unique()

In [873]:
import numpy as np
y5 = y5.replace(np.nan,0, regex=True)
y5.head()

,CASE_ID,Create Offer,OC - Created - Evidence of course completion,Release Offer,AR - Created - Assessment information (Coursework) (1),AR - Created - Further information (1),AR - Created - Further information (2),AR - Not Satisfied - English language proficiency,AR - Requested - Academic results for prior tertiary studies,AR - Satisfied - Academic results for prior tertiary studies,...,Assessment Decision - No Decision,Assessment Decision - Qualified,OC - Created - English language requirements,OC - Reviewed - English language requirements,Put Triage On-Hold,Release Triage Hold,Submit,Acacdemic - Assessment Outcome - Successful,Assessment Outcome - Successful,Send for Assessment
0,1086364|448364|689547,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1125321|497557|764055,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1045292|395605|615665,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1125242|497408|763842,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [874]:
count_12.head()

                   CASE_ID                            WRKFLW_TSK_MAP_DETAILED
142  1086364|448364|689547                                             Submit
143  1086364|448364|689547                 AR - Satisfied - Advanced Standing
144  1086364|448364|689547  AR - Satisfied - Specialisation (Master of Inf...
145  1086364|448364|689547         AR - Satisfied - Graduate Access Melbourne
146  1086364|448364|689547  AR - Satisfied - Current enrolment at the Univ...

In [875]:
dict_1=count_12.to_dict(orient='list')

In [876]:
case_id = dict_1['CASE_ID']

In [877]:
workflow = dict_1['WRKFLW_TSK_MAP_DETAILED']

In [878]:
print(type(workflow))
print(len(workflow))

<class 'list'>
95

In [879]:
from collections import defaultdict

case_wf_dict = defaultdict(list)

for i in range(len(case_id)):
    item = case_id[i]
    case_wf_dict[item].append(workflow[i])
print(len(case_wf_dict))

4

In [880]:
y5 = y5.set_index('CASE_ID')

In [881]:
y5.head()

,Create Offer,OC - Created - Evidence of course completion,Release Offer,AR - Created - Assessment information (Coursework) (1),AR - Created - Further information (1),AR - Created - Further information (2),AR - Not Satisfied - English language proficiency,AR - Requested - Academic results for prior tertiary studies,AR - Satisfied - Academic results for prior tertiary studies,AR - Satisfied - Advanced Standing,...,Assessment Decision - No Decision,Assessment Decision - Qualified,OC - Created - English language requirements,OC - Reviewed - English language requirements,Put Triage On-Hold,Release Triage Hold,Submit,Acacdemic - Assessment Outcome - Successful,Assessment Outcome - Successful,Send for Assessment
CASE_ID,,,,,,,,,,,,,,,,,,,,,
1086364|448364|689547,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1125321|497557|764055,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1045292|395605|615665,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1125242|497408|763842,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [882]:
y_col_name = y5.columns.values.tolist()
print(y_col_name)

['Create Offer', 'OC - Created - Evidence of course completion', 'Release Offer', 'AR - Created - Assessment information (Coursework) (1)', 'AR - Created - Further information (1)', 'AR - Created - Further information (2)', 'AR - Not Satisfied - English language proficiency', 'AR - Requested - Academic results for prior tertiary studies', 'AR - Satisfied - Academic results for prior tertiary studies', 'AR - Satisfied - Advanced Standing', 'AR - Satisfied - Appointment of authorised representative', 'AR - Satisfied - Assessment information (Coursework) (1)', 'AR - Satisfied - Credit for previous study', 'AR - Satisfied - Current enrolment at the University of Melbourne', 'AR - Satisfied - English language proficiency', 'AR - Satisfied - Entry points (Master of Information Technology)', 'AR - Satisfied - Further information (1)', 'AR - Satisfied - Further information (2)', 'AR - Satisfied - Graduate Access Melbourne', 'AR - Satisfied - Official syllabus or subject descriptions (in English)', 'AR - Satisfied - Specialisation (Master of Information Technology)', 'AR - Satisfied - Transcript Ã» My eQuals', 'Acacdemic - Assessment Decision - Not Qualified', 'Assessment Decision - No Decision', 'Assessment Decision - Qualified', 'OC - Created - English language requirements', 'OC - Reviewed - English language requirements', 'Put Triage On-Hold', 'Release Triage Hold', 'Submit', 'Acacdemic - Assessment Outcome - Successful', 'Assessment Outcome - Successful', 'Send for Assessment']

In [883]:
for key in case_wf_dict.keys():
    for process in case_wf_dict[key]:
        if process in y_col_name:
            y5.loc[key, process] = 1
        else:
            continue

In [884]:
pd.set_option('display.max_rows', None)

In [885]:
y5['Submit'].head()

CASE_ID
1086364|448364|689547    1.0
1125321|497557|764055    1.0
1045292|395605|615665    1.0
1125242|497408|763842    1.0
Name: Submit, dtype: float64

In [886]:
y5['Send for Assessment'].head()

CASE_ID
1086364|448364|689547    1.0
1125321|497557|764055    1.0
1045292|395605|615665    1.0
1125242|497408|763842    1.0
Name: Send for Assessment, dtype: float64

In [887]:
y5.head()

,Create Offer,OC - Created - Evidence of course completion,Release Offer,AR - Created - Assessment information (Coursework) (1),AR - Created - Further information (1),AR - Created - Further information (2),AR - Not Satisfied - English language proficiency,AR - Requested - Academic results for prior tertiary studies,AR - Satisfied - Academic results for prior tertiary studies,AR - Satisfied - Advanced Standing,...,Assessment Decision - No Decision,Assessment Decision - Qualified,OC - Created - English language requirements,OC - Reviewed - English language requirements,Put Triage On-Hold,Release Triage Hold,Submit,Acacdemic - Assessment Outcome - Successful,Assessment Outcome - Successful,Send for Assessment
CASE_ID,,,,,,,,,,,,,,,,,,,,,
1086364|448364|689547,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
1125321|497557|764055,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0
1045292|395605|615665,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0
1125242|497408|763842,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0

In [888]:
def movecol(df, cols_to_move=[], ref_col='', place='After'):
    
    cols = df.columns.tolist()
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

In [889]:
y5.head()

,Create Offer,OC - Created - Evidence of course completion,Release Offer,AR - Created - Assessment information (Coursework) (1),AR - Created - Further information (1),AR - Created - Further information (2),AR - Not Satisfied - English language proficiency,AR - Requested - Academic results for prior tertiary studies,AR - Satisfied - Academic results for prior tertiary studies,AR - Satisfied - Advanced Standing,...,Assessment Decision - No Decision,Assessment Decision - Qualified,OC - Created - English language requirements,OC - Reviewed - English language requirements,Put Triage On-Hold,Release Triage Hold,Submit,Acacdemic - Assessment Outcome - Successful,Assessment Outcome - Successful,Send for Assessment
CASE_ID,,,,,,,,,,,,,,,,,,,,,
1086364|448364|689547,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
1125321|497557|764055,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0
1045292|395605|615665,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0
1125242|497408|763842,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0

In [890]:
y5 = movecol(y5, 
             cols_to_move=['Release Offer'], 
             ref_col='Send for Assessment',
             place='After')

In [891]:
y5.shape

(4, 33)

In [892]:
y5=y5.fillna(0.0)

In [893]:
X=y5.iloc[:,0:32].values
Y=y5.iloc[:,32].values

In [894]:
#spliting dataset
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size = 0.3,random_state=0)

In [899]:
# K Nearest Neighbors
Knn = KNeighborsClassifier(n_neighbors=2)
Knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=2)

In [900]:
knn_predict=Knn.predict(x_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, knn_predict)*100,2)))

accuracy: 100.0%